*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main_background: hsl(233, 47%, 7%);
  --card_background: hsl(244, 38%, 16%);
  --accent_color: hsl(277, 64%, 61%);
  --main_text_color: hsl(0, 0%, 100%);
  --transparent_white_main: hsla(0, 0%, 100%, 0.75);
  --transparent_white_secondary: hsla(0, 0%, 100%, 0.6);
  --main_font_size: 1.5rem;
  --font_family_main: "Inter", "sans-serif";
  --font_family_secondary: "Lexend Deca", "sans-serif";
  --font_weight_small: 400;
  --font_weight_large: 700;
}

/* General properties */

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: var(--main_background);
  color: var(--main_text_color);
  font-size: var(--main_font_size);
  font-family: var(--font_family_main);
  height: 100%;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Mobile design */

.preview-card {
  background-color: var(--card_background);
  width: 90%;
  height: 78rem;
  margin: 0 auto;
  border-radius: 0.8rem;
  text-align: center;
  padding-bottom: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preview-card__image-container {
  background-color: var(--accent_color);
  background-image: url("images/image-header-mobile.jpg");
  background-blend-mode: multiply;
  opacity: 0.75;
  border-radius: 1rem 1rem 0 0;
  background-size: 100% 100%;
  background-position: top;
  height: 24rem;
  width: auto;
}

.preview-card__header {
  font-weight: var(--font_weight_large);
  width: 80%;
  margin: 3.68rem auto 2rem auto;
  font-size: 2.8rem;
  line-height: 3.2rem;
}

.header--accent {
  color: var(--accent_color);
}

.preview-card__main-text {
  font-weight: var(--font_weight_small);
  color: var(--transparent_white_main);
  line-height: 2.5rem;
  width: 80%;
  margin: 0 auto 3.8rem auto;
  opacity: 0.75;
}

.stat {
  font-size: 2.4rem;
  font-weight: var(--font_weight_large);
  line-height: 2.905rem;
  margin: 2rem 0;
}

.stat__heading {
  text-transform: uppercase;
  font-size: 1.2rem;
  display: block;
  line-height: 2.905rem;
  font-weight: var(--font_weight_small);
  font-family: var(--font_family_secondary);
  color: var(--transparent_white_secondary);
  letter-spacing: 0.1rem;
  opacity: 0.6;
}

/* Desktop design */

@media (min-width: 1440px) {
  main {
    padding: 0;
    margin: 0;
  }
  .preview-card {
    height: 44.6rem;
    width: 80%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
  }

  .desktop-view__block-1 {
    width: 49%;
    height: 100%;
    position: relative;
  }

  .preview-card__image-container {
    height: 100%;
    background-image: url("images/image-header-desktop.jpg");
    border-radius: 0 0.8rem 0.8rem 0;
    position: absolute;
    width: 100%;
  }

  .desktop-view__block-2 {
    text-align: left;
    height: 44.6rem;
    width: 51%;
    padding: 7.1rem 0 5.9rem 7.2rem;
  }

  .preview-card__header {
    font-size: 3.6rem;
    line-height: 4.4rem;
    width: 90%;
    margin: 0 0 2.5rem 0;
  }

  .preview-card__main-text {
    width: 70%;
    margin: 0 0 7.2rem 0;
  }

  .preview-card__stats {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0;
  }

  .stat {
    margin: 0;
  }

  .stat__heading {
    line-height: 2.5rem;
  }
}
